<div class="create-post-container">
  <form [formGroup]="creationFormOfPost">

    <input [formControlName]="formFields.title" placeholder="Title">
    <textarea [formControlName]="formFields.description" placeholder="Description"></textarea>
    <input #tagElem [formControlName]="formFields.tag" placeholder="Tag">

    <button [disabled]="!tagElem.value.trim().length" (click)="addTag()" >Add Tags</button>
    <div>
      <mat-chip *ngFor="let tag of tags" [selectable]="false" removable (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </div>

    <input type="file" accept="image/*" (change)="showPreview($event)" />

    <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
      <img [src]="imageURL" [alt]="creationFormOfPost.value.name">
    </div>

    <button type="submit" [disabled]="creationFormOfPost.invalid" (click)="submitForm()">Submit</button>

  </form>
</div>
