@import "../../../../styles/variables";

mat-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}

.header-spacer {
  flex: 1 1 auto;
}

.is-in-create-post-page {
  .add-button-container {
    display: none;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-first-row {

  .header-title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-second-row {

  .header-logo-image {
    width: 7rem;
    height: 80%;
    margin: 0 auto;
  }

  .header-title {
    display: none;
    margin: 0 0.8rem;
  }

  .header-actions{

    .post-link-container{
      margin: 0 0.8rem;
    }
  }

  .header-actions,
  .header-spacer {
    display: none;
  }
}

.header-third-row {

  .header-actions {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: $md-breakpoint-width) {

  .header-second-row {

    .header-actions{
      display: flex;
    }

    .header-spacer {
      display: unset;
    }
  }

  .header-third-row {
    display: none;
  }
}

@media screen and (min-width: $lg-breakpoint-width) {
  .header-first-row {
    display: none;
  }

  .header-second-row {
    .header-title {
      display: unset;
      margin: 0 0.8rem;
    }

    .header-actions{
      display: flex;
    }

    .header-spacer {
      display: unset;
    }
  }

  .header-third-row {
    display: none;
  }
}
