<mat-toolbar [class.is-in-create-post-page]="isInCreatePostPage | async">
  <mat-toolbar-row class="header-first-row">
    <h1 class="header-title">{{title}}</h1>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-second-row">
    <img class="header-logo-image"
         alt="Talos technical test logo"
         src="/assets/images/logo.svg"/>
    <h1 class="header-title">{{title}}</h1>
    <div class="header-spacer"></div>
    <div class="header-actions">
      <div class="post-link-container">
        <a routerLink="/posts">Posts</a>
      </div>
      <div class="add-button-container">
        <talos-button (clicked)="navigateToCreatePost()" [hoverState]="hoverStateOfAddButton"><mat-icon>add</mat-icon></talos-button>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-third-row">
    <div class="header-actions">
      <div class="post-link-container">
        <a routerLink="/posts">Posts</a>
      </div>
      <div class="add-button-container">
        <talos-button (clicked)="navigateToCreatePost()" [hoverState]="hoverStateOfAddButton"><mat-icon>add</mat-icon></talos-button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
