@mixin visible-state {
  opacity: unset;
  margin-bottom: unset;
  pointer-events: unset;
}

@mixin hidden-state {
  opacity: 0;
  margin-bottom: -2rem;
  pointer-events: none;
}

div[role="button"] {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 2rem;
  cursor: pointer;

  font-size: 0.8rem;

  //background-color: #4CAF50; /* Green */
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0.1rem 0.4rem;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .default-state,
  .hover-state{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }

  .hover-state{
    @include hidden-state;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is-hovered {
    .default-state {
      @include hidden-state;
    }

    .hover-state{
      @include visible-state;
    }
  }
}
