@mixin visible-state {
  opacity: unset;
  pointer-events: unset;
}

@mixin hidden-state {
  opacity: 0;
  pointer-events: none;
}

$transition-default: 0.2s ease-out;

div[role="button"] {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 2rem;
  cursor: pointer;

  font-size: 0.8rem;

  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0.1rem 0.4rem;
  text-align: center;
  text-decoration: none;
  overflow: hidden;

  .button-animation {
    height: 200%;
    display: flex;
    flex-flow: column;
    justify-content: stretch;

    transition: transform $transition-default;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);

    .button-animation {
      transform: translateY(-50%);
    }
  }

  .default-state,
  .hover-state{
    transition: opacity $transition-default;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }

  .hover-state{
    @include hidden-state;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is-hovered {
    .default-state {
      @include hidden-state;
    }

    .hover-state{
      @include visible-state;
    }
  }
}
