<mat-toolbar>
  <mat-toolbar-row class="header-first-row">
    <div class="header-title">{{title}}</div>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-second-row">
    <img class="header-logo-image"
         alt="Talos technical test logo"
         src="https://i.picsum.photos/id/767/140/55.jpg?hmac=Sk1mOBWCmk7GE6FD_CZPtU0qTUBZPZyavd0uDzqiu4g"/>
    <div class="header-title">{{title}}</div>
    <div class="header-spacer"></div>
    <div class="header-actions">
      <div class="post-link-container">
        link
      </div>
      <div class="add-button-container">
        add
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-third-row">
    <div class="header-actions">
      <div class="post-link-container">
        link
      </div>
      <div class="add-button-container">
        add
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
