$card-width: 230px;

mat-card {
  width: $card-width;
  height: 325px;

  div[mat-card-image] {
    height: 180px;
    overflow: hidden;

    img[mat-card-image] {
      transition: transform 0.2s ease-out;
      margin-top: 0;
      height: 180px;
      object-fit: cover;
    }
  }

  &:hover {
    div[mat-card-image] {
      img[mat-card-image] {
        transform: scale(1.2);
      }
    }
  }

  .post-description {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    height: 5rem;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;

    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white;
    }
  }

  .mat-card-actions {
    display: flex;
    align-items: center;

    & > .tag-container {
      flex: 2;
      display: flex;
      flex-wrap: wrap;
      height: 2.3rem;
      overflow: auto;
      margin-right: -5px;

      & > mat-chip {
        max-width: 160px;
        margin: 0 5px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        outline: none;
      }
    }

    & > button {
      flex: 1;
    }
  }

}
