html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-standard-chip {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
}

.mat-chip {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
