@import "../../styles/variables";

.app-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
}

.app-content {
  flex: 1 0 auto;
}

.app-footer {
  flex-shrink: 0;
  background-color: whitesmoke;
  box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.15);
}

.footer-contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;

  & > div {
    width: calc(100% - 25px);
    white-space: normal;
    margin-bottom: 15px;

    & > p {
      font-size: 1rem;
      text-align: justify;
    }

    &:last-child {
      color: #555555;
    }
  }
}

@media screen and (min-width: $md-breakpoint-width) {

  .footer-contents {
    & > div {
      width: calc(50% - 25px);
    }
  }
}

@media screen and (min-width: $lg-breakpoint-width) {

  .footer-contents {
    & > div {
      width: calc(25% - 25px);
    }
  }
}
