<div class="app-container">
  <div class="app-content">
    <talos-header></talos-header>
    <router-outlet></router-outlet>
  </div>

  <div class="app-footer">
      <div class="footer-contents">
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et sapien ut nibh pretium convallis quis a
            est. Maecenas molestie fringilla erat, et porta sem gravida eget. Morbi rhoncus vestibulum purus, ut dapibus
            quam consequat eget. Nullam sed arcu nunc.
          </p>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu arcu id lacus vestibulum ullamcorper. Cras
            rhoncus quis ipsum sed gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            ac
            turpis egestas. Mauris ut leo velit. Proin congue.
          </p>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel risus facilisis, placerat sapien eu,
            sollicitudin ex. Proin tempor, magna at lobortis lacinia, dolor sapien tempus enim, eget tristique risus
            nisi
            ut leo. Aliquam erat volutpat. Donec ut ex id.
          </p>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mauris at maximus pulvinar. Duis
            ornare lectus quam, a porta felis suscipit sit amet. Maecenas quis velit feugiat, dapibus ante ut, tincidunt
            libero. Sed vitae suscipit purus. Duis lobortis leo.
          </p>
        </div>
      </div>
  </div>
</div>
